.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldset {
  display: flex;
  gap: 50px;
  border: none;
}

.label {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: 'Montserrat-reg';
  font-size: 18px;
  color: bisque;
}

.legend {
  font-family: var(--font-regular);
  color: #03ff66;
  margin-bottom: 10px;
  font-size: 22px;
}
