.select {
  cursor: pointer;
  height: 25px;
  border-radius: 10px;
  padding: 0 5px;
  background-color: var(--background-input-form);
  color: var(--color-input-form);
  font-family: var(--font-regular);
  outline: none;
}

.error {
  border: 1px solid var(--color-error);
}
